.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.clearfix{
    clear: both;
}


/*Header*/

header{
    padding-top: 30px;
    padding-bottom: 31px;
}

body{
    font-family: Poppins;
}

header .menu ul .menu-item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #94959A;
    transition: 0.8s;
   
} 

header .menu ul .menu-item a:hover{
    color: #000;
}

header .menu ul .menu-item-second a{
    padding-top: 0 px;
    color: #3865F4;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    transition: 0.8s;
    
    
}

header .menu ul .menu-item-second a:hover{
    color: #000;
}

header .menu ul .menu-item-second{
    margin-top: 0 px;
}

header .menu ul .menu-item-second hr{
    border: 1px solid #3865F4;
    background-color: #3865F4;
    width: 41px;
    height: 0px;
    margin: 0 auto;
    align-content: flex-start;
    
    

}

header .menu ul .menu-item-fourth a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #3865F4;
    transition: 0.8s;
}

header .menu ul .menu-item-fourth a:hover{
    color: #000;
}

header .menu ul .menu-item-last a{
    text-decoration: none;
    padding: 12px 43px 12px 43px;
    background-color: #3865F4;
    border-radius: 6px;
    font-weight: 600px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #ffffff;
    transition: 0.8s;
}

header .menu ul .menu-item-last a:hover{
    background-color: #000;
}

header .menu ul{
    list-style-type: none;
}

header .logo{
    float: left;
    transition: 1s; 
	animation: show 3s 1; 
       animation-fill-mode: forwards; 
}

header .menu{
    float: right;
}

header .menu ul li{
    float: left;
}

header .menu ul .menu-item{
    margin-right: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
}

header .menu ul .menu-item-second{
    margin-right: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
}

header .menu ul .menu-item-fourth{
    margin-left: 10px;
    margin-right: 46px;
    padding-top: 12px;
    padding-bottom: 12px;
}

header .menu ul .menu-item-last{
    margin-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
}


/*Section first*/

.container-first{
    clear: both;
    margin-bottom: 83px;
    background-image: url(images/Group4.png);
    background-repeat: no-repeat;
    background-position: 52% 92%;
} 
.container-first .left-side{
    width: 550px;
    float: left;
    background-image: url(images/Vector-left.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.container-first .right-side{
    width: 622px;
    float: right;
   
}


.container-first .right-side img{
    width: 100%;
    max-width: 100%;
    height: 622px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 41px;
    margin-bottom: 82px;
}


.container-first .left-side h1{
    margin-top: 183px;
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 72px;
    line-height: 90px;
    letter-spacing: 0.01em;
    color: #120D26;
}

.container-first .left-side .descr{
    font-size: 20px;
    line-height: 30px;
    color: #94959A;
    margin-bottom: 54px;
}

.container-first .left-side .btn-box a, 
.container-gallery .content-left .btn{
    padding: 23px 17px 23px 17px;
    text-decoration: none;
    background-color: #3865F4;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #ffffff;
    transition: 0.8s;
    text-align: center;
}

.container-first .left-side .btn-box a:hover, 
.container-gallery .content-left .btn:hover{
    background-color: #000;
}


.container-first .left-side .btn-box a img,
.container-gallery .content-left .btn img{
    vertical-align: middle;
    margin-left: 10px;
}






/*Container comments*/


.container-comments h2{
    margin-top: 60px;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;

color: #000000;
}

.container-comments .comment1 h3,
.container-comments .comment2 h3,
.container-comments .comment3 h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #120D26;

}

.container-comments .comment1 h3,
.container-comments .comment2 h3,
.container-comments .comment3 h3{
    margin: 13px 25px 12px 25px;
}



.container-comments .comment1 p:first-of-type,
.container-comments .comment2 p:first-of-type{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3C3E56;
    margin: 0 25px 112px 25px;

}

.container-comments .comment3 p:first-of-type{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3C3E56;
    margin: 0 25px 51px 25px;
}

.container-comments .comment1 p:last-of-type,
.container-comments .comment2 p:last-of-type,
.container-comments .comment3 p:last-of-type{
    font-size: 15px;
    line-height: 22px;
    color: #94959A;
    margin: 0 25px 21px 25px;

}

.container-comments .comment1 div,
.container-comments .comment2 div,
.container-comments .comment3 div{
    text-align: center;
}

.container-comments .comment1,
.container-comments .comment2,
.container-comments .comment3{
    width: 400px;
    height: 666px;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 6px;
}

.container-comments .comment1,
.container-comments .comment2{
    margin-right: 40px;
}


.container-comments .comment1 img,
.container-comments .comment2 img,
.container-comments .comment3 img{
    width: 350px;
    height: 350px;
    margin: 21px 25px 0 25px; 
    object-fit: cover;
    border-radius: 6px;
}


.container-comments .comment1,
.container-comments .comment2,
.container-comments .comment3{
    margin-bottom: 199px;
}



/*footer*/


.content-footer{
    padding-top: 69px;
 
}



.content-footer .links{
float: left;

}

.content-footer .links .contact{
float: right;

}

.content-footer .links .contact h5,
.content-footer .links .company h5{
    
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #120D26;
    margin-bottom: 27px;
    
}

.content-footer .links .contact ul,
.content-footer .links .company ul{
    list-style-type: none;
}

.content-footer .links .contact li,
.content-footer .links .company li{
    margin-bottom: 18px;
}


.content-footer .links .contact a,
.content-footer .links .company a{
    
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #94959A;
}

.content-footer .links .company{
float: left;
margin-right: 207px;


}

.content-footer .dropdowns{
   float: right;
background: #FFFFFF;
border: 1.5px solid #F2F2F2;
box-sizing: border-box;
border-radius: 8px;
padding: 14px;

}

.content-footer .dropdowns img{
    vertical-align: middle;
    margin-left: 77px;
}

.content-footer .content{
    margin-bottom: 92px;
}

.HRLAST{
   
    width: 1280px;
    height: 2px;
    background-color: #D0CFD4;
    color: #D0CFD4;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 40px;
}

.container1 p{
    float: left;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; 
    letter-spacing: 0.01em;
    color: #94959A;
    margin-bottom: 82px;
    
}

.container1 nav{
    float: right;
    
}



.container1 nav ul{
    list-style-type: none;
}

.container1 nav ul li{
    float: left;
    padding-left: 32px;
}

@keyframes show{
    0%{ opacity:0; }
    100% { opacity:1; }
   }

.animation{
    animation: flash 10s linear infinite;
}

@keyframes flash{
    0% { background: #6c7eff; } 
    20% { background: #ce29d9; } 
    40% { background: #29d593; } 
    60% { background: #ff9d2c; } 
    80% { background: #00b055; } 
    100% { background: #9d6efb; } 

}
